:root {
    --header-color: #ffffff;
    --primary-text-color: #212121;
    --second-text-color:  #757575;
    --primary-title-color: #FFFFFF;
    --secondary-title-color: #212121;
    --accent-color: #2196F3;
    --background-color: #ffffff;
    --secondary-background-color: #2F303A;
    --third-background-color: #F5F4FA;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style: none;
}


.link {
    text-decoration: none;
}

.btn{
    cursor: pointer;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}


/*------logo-----*/


.header-logo {
    text-decoration: none;
}

.header-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--accent-color);
}

.header-web:hover,
.header-web:focus {
    color:var(--accent-color);
}

.header-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}

.header-studio:hover,
.header-studio:focus {
    color:var(--accent-color);
}

.header-logo {
    margin-left: 0;
    margin-right: 93px;
}



/*-----header-----*/

.header {
    background-color: var(--header-color);
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 200px;
}

.header-container {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}


.site-nav {
    display: flex;
    align-items: center;
}

.header-connections {
    display: flex;
    margin-left: auto;
}

.contacts-list {
    display: flex;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color:var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.header-contacts-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--accent-color);
}

.contacts-item:not(:last-child) {
    margin-right: 50px;
}



/*-----hero-----*/


.hero {
    background-color:var(--secondary-background-color);
    text-align: center;
    width: 1600px;
    height: 600px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--primary-title-color);

    width: 696px;
    height: 120px;
}


.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
    background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus{
    color:var(--accent-color);
}



/*-----features-----*/


.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--secondary-title-color);
  }

  .features-text {
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
    color:var(--second-text-color);
  }

  /*-----team----*/

  .team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--secondary-title-color);
  }

  .team-item-text {
    font-size: 16px;
    line-height: 1.19x;
    letter-spacing: 0.03em;
    color:var(--second-text-color)
  }


  /*-----footer-----*/

  .footer {
      background-color: var(--secondary-background-color);
  }


  /*-----logo-----*/


  .footer-logo {
    text-decoration: none;
}


.footer-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--accent-color);
}

.footer-web:hover,
.footer-web:focus {
    color:var(--accent-color);
}

.footer-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--primary-title-color);
}

.footer-studio:hover,
.footer-studio:focus {
    color:var(--accent-color);
}

.footer-address-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--primary-title-color);
}

.footer-address-link:hover,
.footer-address-link:focus {
    color:var(--accent-color);
}

.footer-contacts-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 0.6);
    }

.footer-contacts-link:hover,
.footer-contacts-link:focus {
    color:var(--accent-color);
}



/*-----portfolio page-----*/


.filter-btn {
    color:var(--third-background-color);
}


.filter-btn {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}

.filter-btn:hover,
.filter-btn:focus {
    color:var(--primary-title-color);
    background-color:var(--accent-color);
}

.portfolio-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
    color:var(--secondary-title-color);
}


.portfolio-item-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color:var(--second-text-color);
}
